{% extends 'base.html' %}

{% block content %}
<style>
body {
    background-color: #D7A9E3;
}
.custom-btn {
        font-size: 14px;
        padding: 5px 10px;
    }
.navbar.navbar-light.bg-light {
    background-color: #FFC0CB !important;
}

.card {
    margin: 10px;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Hello, {{ name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex" role="logout">
            <a href="{% url 'main:logout' %}">
                <button class="btn btn-outline-success" type="button">Log Out</button></a>
        </form>
    </div>
</nav>

<div class="container mt-4">
    <div class="text-center">   
    <h1>Welcome to Pokémon Bo!</h1>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <h5>Programmer:</h5>
            <p>Evans</p>
        </div>
        <div class="col-md-4">
            <h5>Class:</h5>
            <p>{{ class }}</p>
        </div>
        <div class="col-md-4">
            <h5>NPM:</h5>
            <p>2206028251</p>
        </div>
    </div>

    <div id="product_cards" class="row">
    </div>

    <h6>Last Login: {{ last_login }}</h6>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Pokémon</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        const productCards = document.getElementById("product_cards");
        productCards.innerHTML = "";

        const products = await getProducts();

        products.forEach((item) => {
            const card = document.createElement("div");
            card.classList.add("col-md-4");
            card.innerHTML = `
                <div class="card" style="background-color: #FAEDCB;">
                    <div class="card-body">
                        <h5 class="card-title">${item.fields.name}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Amount: ${item.fields.amount}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Price: ${item.fields.price}</h6>
                        <p class="card-text">${item.fields.description}</p>
                        <a href="/edit-product/${item.pk}">
                    <button class="btn btn-primary custom-btn">
                        Edit
                    </button>
                </a>
                <button type="submit" onclick="deleteProduct(${item.pk}); return false;" class="btn btn-danger custom-btn">Delete</button>
                    </div>
                </div>
            `;

            productCards.appendChild(card);
        });

    }

    refreshProducts();

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts);

        document.getElementById("form").reset();
        return false;
    }

    document.getElementById("button_add").onclick = addProduct;

    function deleteProduct(id) {
        fetch(`delete-product-ajax/${id}`, {
            method: "DELETE",
        }).then(refreshProducts)
        return false
    }
</script>

{% endblock content %}
