
body {
    background-color: #F0E68C; 
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}